@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main: #1f1f1f;
    --sidebar: #262626;
    --text: #ffffff;
    --sidebar-text: #d1d1d1;
    --description: #cccccc;
    --active-button-bgc: #472525;
    --active-button-text: #f07f75;
    --form-bgc: #262626;
    --form-submit-button: #d04348;
    --form-cancel-button: #3f3f3f;
}

body {
    background-color: var(--main);
    color: var(--text);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;

    position: relative;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -80px;

    display: flex;
    flex-direction: column;
    background-color: var(--form-bgc);
    border-radius: 10px;
    padding: 20px;
    min-width: 500px;
}

.form__label {
    margin-bottom: 7px;
}

.form__input {
    background-color: transparent;
    color: var(--text);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form__input:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-button {
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
}

.form__button-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form__cancel {
    background-color: var(--form-cancel-button);
    color: var(--text);
}

.form__submit {
    background-color: var(--form-submit-button);
    color: var(--text);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5.5fr;

    min-height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: var(--sidebar);
    height: 100%;
    padding: 15px;
}

.sidebar__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.button {
    min-width: 100%;
    text-align: left;
    padding: 5px 7px;
    background-color: transparent;
    color: var(--text);
    font-size: 16px;
    border-radius: 4px;
    transition: 0.1s ease all;
}

.sidebar__button {
    margin-bottom: 4px;
    display: flex;
}

.sidebar__button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.nav__button:hover {
    background-color: rgba(255, 255, 0, 0.05);
}

.nav__button--active,
.nav__button--active:hover {
    background-color: var(--active-button-bgc);
    color: var(--active-button-text);
}
